.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.error-message {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
