<mat-toolbar color="warn">
  <span (click)="navigateBack()" id="title">ThesisHub</span>

  <span class="spacer"></span>

  <button (click)="navigateToThesisList()" mat-fab matTooltip="Your Thesis List">
    <mat-icon>book</mat-icon>
  </button>

  <button (click)="requestedThesisAssignments()" mat-fab
          matTooltip="Requested Assignments">
    <mat-icon>school</mat-icon>
  </button>

  <span class="spacer"></span>

  <button (click)="Logout()" mat-fab>
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
