<mat-expansion-panel *ngFor="let item of dataSource">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ item.title }}
    </mat-panel-title>
    <mat-panel-description>
      <div *ngIf="item.isAssigned">
<!--        By {{ item.assigned_user.name }}-->
      </div>
      <div *ngIf="!item.isAssigned">
<!--        By {{ item.assigned_user.name }}-->
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    {{ item.description }}
  </p>
  <br>
  <button mat-raised-button color="primary" *ngIf="!item.isAssigned" (click)="requestAssignment(item.thesisId)">Request Assignment</button>
</mat-expansion-panel>
